################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StatementApplication/FileContentIndex/0a3d59b9-9942-4308-be69-5b93019458f2.vsidx
