################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StatementApplication/FileContentIndex/0a3d59b9-9942-4308-be69-5b93019458f2.vsidx
/.vs/StatementApplication/FileContentIndex/46344b2a-610a-46db-ac91-ea62f8d2681c.vsidx
/.vs/StatementApplication/FileContentIndex/3db40472-9d08-42c5-b0e7-1ed4362c602a.vsidx
